*.su04759
*.fedor
*.log
*.rpt
codegentemp
CortexM0
Export
Generated_Source
*.~TXT
*.bak
/psoc_mini.cydsn/q4/db
/psoc_mini.cydsn/q4/incremental_db
/psoc_mini.cydsn/q4/output_files
*.~md
psoc_mini.cydsn/psoc_mini_timing.html
